<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %> | <%= siteName %></title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		/>
		<link rel="stylesheet" href="/static/css/styles.css" />
	</head>
	<body>
		<% if (messages.error) { %>
			<%- include("partials/message.ejs", { type: "error", text: messages.error }) %>
		<% }%>
		<% if (messages.info) { %>
			<%- include("partials/message.ejs", { type: "info", text: messages.info }) %>
		<% }%>
		<% if (messages.success) { %>
			<%- include("partials/message.ejs", { type: "success", text: messages.success }) %>
		<% }%>

		<%-include("partials/header.ejs") %>

		<main><%- body -%></main>

		<%- include("partials/footer.ejs") %>

		<script src="/static/js/main.js"></script>
		<%- block("scripts") %>
	</body>
</html>
