<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %> | <%= siteName %></title>
		<!-- MVP temporary styles -->
		<link rel="stylesheet" href="https://unpkg.com/mvp.css" />
	</head>
	<body>
		<header>
			<h1><%= pageTitle %></h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/search">Search</a></li>
					<% if (isLoggedIn) { %>
					<li><a href="/videos/upload">Upload Video</a></li>
					<li><a href="/my-profile"><%= loggedInUser.name %></a></li>
					<li><a href="/users/edit">Edit Profile</a></li>
					<li><a href="/users/logout">Logout</a></li>
					<% } else { %>
					<li><a href="/join">Join</a></li>
					<li><a href="/login">Login</a></li>
					<% } %>
				</ul>
			</nav>
		</header>
		<main><%- body -%></main>
		<%- include("partials/footer.ejs") %>
	</body>
</html>
