<% layout("base.ejs") -%>

<% if (errorMsg) { %>
<span><%= errorMsg %></span>
<% } %>

<form method="POST">
	<input name="oldPassword" placeholder="Old Password" type="password" <%= loggedInUser.socialOnly ? "disabled" : "" %> />
	<input name="newPassword" placeholder="New Password" type="password" <%= loggedInUser.socialOnly ? "disabled" : "" %> />
	<input name="confirmPassword" placeholder="Confirm New Password" type="password" <%= loggedInUser.socialOnly ? "disabled" : "" %> />
	<button type="submit" <%= loggedInUser.socialOnly ? "disabled" : "" %>>Change Password</button>
</form>
