<% layout("base.ejs") -%> <% if (errorMsg) { %>
<span><%= errorMsg %></span>
<% } %>

<form method="POST" enctype="multipart/form-data">
	<label for="avatar">Avatar</label>
	<input name="avatar" id="avatar" type="file" accept="image/*" />
	<input
		name="name"
		placeholder="Name"
		type="text"
		value="<%= loggedInUser.name %>"
		required
	/>
	<input
		name="email"
		placeholder="Email"
		type="email"
		value="<%= loggedInUser.email %>"
		required
	/>
	<input
		name="username"
		placeholder="Username"
		type="text"
		value="<%= loggedInUser.username %>"
		required
	/>
	<input
		name="location"
		placeholder="Location"
		type="text"
		value="<%= loggedInUser.location %>"
	/>
	<button type="submit">Update Profile</button>

	<% if (!loggedInUser.socialOnly) { %>
	<div class="edit-profile__password">
		<a href="change-password">Change Password</a>
	</div>
	<% } %>
</form>
