<% layout("base.ejs") -%>

<video src="/<%= video.fileUrl %>" controls width="500px" height="400px"></video>

<div>
	<p><%= video.description %></p>
	<small><%= video.createdAt %></small>
</div>
<a href= <%= `${video.id}/edit` %>>Edit Video</a>
<br>
<a href= <%= `${video.id}/delete` %>>Delete Video</a>
