<% layout("base.ejs") -%>

<div id="video-container" data-video-id="<%= video._id %>">
	<video src="<%= isHeroku ? video.fileUrl : `/${video.fileUrl}` %>" crossorigin></video>

	<div id="video-controls" class="video-controls">
		<div class="video-controls__play">
			<span id="play" class="video-controls__play-btn">
				<i class="fas fa-play"></i>
			</span>
			<div class="video-controls__time">
				<span id="current-time">0:00</span>
				<span> / </span>
				<span id="total-time">0:00</span>
			</div>
		</div>
		<input
			id="timeline"
			class="video-controls__timeline"
			type="range"
			value="0"
			min="0"
			step="any"
		/>
		<div class="video-controls__volume">
			<input id="volume" type="range" value="1" min="0" max="1" step="any" />
			<span id="mute">
				<i class="fas fa-volume-up"></i>
			</span>
		</div>
		<div>
			<span id="full-screen">
				<i class="fas fa-expand"></i>
			</span>
		</div>
	</div>
</div>

<div class="video__data">
	<p class="video__title"><%= video.title %></p>
	<small class="video__owner">Uploaded by 
		<a href="/users/<%= video.owner._id %>"><%= video.owner.name %></a>
	</small>
	<small class="video__createdAt">
		<%= new Date(video.createdAt).toLocaleDateString("en-US", {weekday: "long", year: "numeric", month: "long", day: "numeric"}) %>
	</small>
	<% if (String(video.owner._id) === String(loggedInUser._id)) { %>
	<div class="video__owner-manipulations">
		<a class="video__owner-manipulation" href="<%= video.id %>/edit">Edit Video</a>
		<a class="video__owner-manipulation" href="<%= video.id %>/delete">Delete Video</a>
	</div>
	<% } %>
</div>

<% if (isLoggedIn) { %>
<div class="video__add-comments">
	<form class="video__comment-form" id="comment-form">
		<textarea
			id="comment-textarea"
			placeholder="Add a comment..."
			cols="30"
			rows="10"
		></textarea>
		<button type="submit">Add Comment</button>
	</form>
</div>
<% } %>

<div class="video__comments">
	<ul>
		<% for (let comment of video.comments.reverse()) { %>
		<li class="video__comment" data-comment-id="<%= comment._id%>">
			<i class="fas fa-comment"></i>
			<span><%= comment.text %></span>
			<!-- If owner of the comment, show delete button -->
			<% if (String(comment.owner) === String(loggedInUser._id)) { %>
			<i class="fas fa-trash video__comment-delete"></i>
			<% } %>
		</li>
		<% } %>
	</ul>
</div>

<% block("scripts").append("<script src='/static/js/videoPlayer.js'></script>") %>
<% block("scripts").append("<script src='/static/js/commentSection.js'></script>") %>
