<a class="video-partial" href="/videos/<%= video._id %>">
	<div class="video-partial__thumbnail"></div>
	<div class="video-partial__data">
		<span class="video-partial__title"><%= video.title %></span>
		<div class="video-partial__meta">
			<span><%= video.owner.name %></span> •
			<span><%= video.meta.views %> <%= video.meta.views > 1 ? "views" : "view" %></span>
		</div>
	</div>
</a>
