<div>
	<h4><%= video.title %></h4>
	<ul>
		<li><%= video.rating %>/5</li>
		<li><%= video.comments %> comments</li>
		<li>Posted <%= video.createdAt %></li>
		<li><%= video.views %> views</li>
	</ul>
</div>
